.detail_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 510px;
  margin-top: 50px;
}

.detail_info img {
  margin-right: 70px;
  width: 350px;
}

.info_list {
  width: 350px;
  float: right;
  margin-left: 100px;
}

.info_list ul {
    list-style: none;
}

.info_list li {
  text-align: center;
  margin-bottom: 20px;
}

.info_list ul .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.info_list ul .comment {
  margin-top: 50px;
}

.hashtag {
  text-align: center;
  margin: 70px 0;
}
