.edit_container {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.edit_info {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  width: 80%;
}

.edit_info img {
  width: 300px;
}

.edit_list {
  width: 400px;
  display: flex;
  text-align: center;
  align-items: center;
}

.edit_list input {
  margin-bottom: 10px;
  width: 400px;
  font-family: 'Noto Serif KR', 'Segoe UI', 'Roboto';
  text-align: center;
}

.edit_list select {
  margin-bottom: 7px;
  /* display: block; */
  height: 30px;
  text-align: center;
}

.edit_list .title {
  height: 30px;
  font-size: 25px;
  margin-bottom: 30px;
}

.edit_list .author, .edit_list .date {
  font-size: 15px;
}

.edit_list .date {
  width: 130px;
  display: block;
}

.edit_list .comment {
  margin-top: 40px;
  width: 400px;
  font-family: 'Noto Serif KR', 'Segoe UI', 'Roboto';
}
