.fa-arrow-left {
  margin-left: 50px;
  color: black;
}

.detail_info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 510px;
  margin-top: 50px;
}

.detail_info img {
  margin-right: 70px;
  width: 350px;
}

.info_list {
  width: 350px;
  float: right;
  margin-left: 100px;
}

.info_list ul {
  list-style: none;
}

.info_list li {
  text-align: center;
  margin-bottom: 20px;
}

.info_list ul .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.info_list ul .comment {
  margin-top: 50px;
}

.hashtag {
  text-align: center;
  margin: 80px 0;
}

.sentences_container {
  margin: 80px 0 80px 0;
  display: flex;
  justify-content: center;
}

.sentences {
  width: 70%;
  text-align: left;
}

.sentences ul {
  list-style: none;
  margin-top: 50px;
}

.sentences li {
  margin-top: 50px;
}
