.review_block_container {
  display: flex;
  justify-content: center;
}

.review_block {
  width: 80%;
  margin-bottom: 80px;
}

.review_block h3 {
  margin-left: 15px;
}

.three_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.three_posts .post {
  width: 300px;
}

.review_block .post a {
  text-decoration: none;
}

.review_block .post .title {
  color: black;
}

.review_block .post img {
  width: 100%;
}

.review_detail_container {
  display: flex;
  justify-content: center;
  text-align: center;
  clear: right;
  margin-bottom: 100px;
}

.review_detail {
  width: 70%;
}

.review_detail form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review_img {
  width: 70%;
}

.review_detail .description {
  text-align: left;
  font-size: 17px;
  margin: 50px 0 100px 0;
}

.update_title {
  width: 80%;
  height: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Serif KR', 'Segoe UI', 'Roboto';
  text-align: center;
}

.update_img {
  margin-left: 0;
  margin-right: 0;
}

.update_description {
  width: 90%;
  height: 400px;
  font-family: 'Noto Serif KR', 'Segoe UI', 'Roboto';
  font-size: 17px;
  margin-top: 35px;
}

.submit_btn {
  display: block;
  float: right;
  width: 100px;
}
